<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.01/bds_web_scraping_001_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="DeepPink">Web Scraping en Administraci贸n Tributaria Mendoza</font>**

<p align="center">
<img src="https://atm.mendoza.gov.ar/wp-content/uploads/2023/01/Frente-Atm.png">
</p>

https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp

<p align="justify">
 En la p谩gina web de la Administraci贸n Tributaria Mendoza, podemos ver la recaudaci贸n por ejercicios fiscales del Impuesto sobre los Ingresos Brutos. Lo que vamos a hacer, es tomar esos datos y generar nuestro <code>DataFrame</code>. Una vez generado, lo vamos a ordenar para poder hacer un gr谩fico.</p>

 # **<font color="DeepPink">Habilitando bibliotecas requeridas</font>**

 ## **<font color="DeepPink">Para an谩lisis de datos</font>**

In [ ]:
import numpy as np
import pandas as pd

 ## **<font color="DeepPink">Para web scraping</font>**

In [ ]:
import lxml
import bs4
import html5lib

 ## **<font color="DeepPink">Configuraciones del DataFrame</font>**

In [ ]:
pd.options.display.precision = 2
pd.options.display.float_format = "{:.2f}".format

 ## **<font color="DeepPink">Para graficos</font>**

In [ ]:
import plotly.express as px
import plotly.graph_objects as go

 # **<font color="DeepPink">Obtenci贸n de datos</font>**

<p align="justify">  A un objeto, le asignamos la direcci贸n URL donde se encuentra la informaci贸n.
</p>

In [ ]:
data = "https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp"

# **<font color="DeepPink">Creando un DataFrame</font>**

<p align="justify">  Utilizamos el m茅todo <code>read_html()</code> de <code>Pandas</code>.
</p>

In [ ]:
lista = pd.read_html(data)

<p align="justify">  Vemos que el objeto al cual se le asigno la lectura del html, es una lista, y lo verificamos con <code>type()</code>. En este caso, esta lista tiene un solo elemento y ese elemento es un <code>DataFrame</code>, es decir, el m茅todo <code>read_html()</code> genera listas de $n$ elementos, al consultar o llamar a los elementos, se visualizan los <code>DataFrames</code>.
</p>

In [ ]:
type(lista)

list

In [ ]:
len(lista)

1

In [ ]:
df = lista[0]
df

,0,1,2,3,4,5,6,7,8,9,...,241,242,243,244,245,246,247,248,249,250
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">  Ahora colocamos los nombres de las columnas, teniendo en cuenta la etiqueta $1$ del indice. Pero al hacer eso, vemos que a las columnas se le asigna un nombre. Por ese motivo, se establece con la propiedad <code>columns.name</code> que las columnas no tengan nombre. Por otro lado, con el m茅todo <code>display()</code> se puede visualizar el <code>DataFrame</code> cuando queremos verlo entre operaciones que estamos desarrollando en nuestro script, como por ejemplo, la celda a continuaci贸n:
</p>

In [ ]:
df.columns = df.loc[1]
display(df)
df.columns.name = None
df

1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">  Ahora filtramos por los indices que queremos ver, que son los correspondientes a los datos mensuales, la recaudaci贸n de Enero a Diciembre. Esto directamente lo hacemos con la selecci贸n de indices, el m茅todo <code>loc[]</code>. La idea de este paso, es poder realizar a continuaci贸n, la eliminaci贸n de datos nulos.
</p>

In [ ]:
df = df.loc[2:13]
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">  Ahora eliminamos las columnas que tienen todos sus datos nulos, ya que puede pasar que en el ejercicio fiscal en marcha, solo esten cargados algunos meses de recaudaci贸n, es decir, los meses anteriores al mes de la fecha que estamos consultando. Esos datos se ir谩n completando, a medida que pase el tiempo y lleguemos a fin de a帽o.
</p>

In [ ]:
df = df.dropna(axis=1, how="all")
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710,47346036894
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943,22575360462,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852,NaN

<p align="justify">  Ahora seteamos el indice con la columna <code>Meses</code>, para dejar todo el <code>DataFrame</code> con valores "num茅ricos" pero vamos a verificar que tipo de datos tiene para ajustarlo al tipo de datos que corresponde, es decir, que nuestros datos sean num茅ricos.
</p>

In [ ]:
df.set_index("Meses", inplace=True)
df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Meses,,,,,,,,,,,,,,,,,,,,,
Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,92258442,...,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641,14525560710,47346036894
Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,87810745,...,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915,14960067498,NaN
Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,78868768,...,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415,15059684558,NaN
Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,85345414,...,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5,17487400044,NaN
Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,89655037,...,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694,18906730844,NaN
Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,87674064,...,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858,20011320650,NaN
Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,90860861,...,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943,22575360462,NaN
Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,93054929,...,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335,24771434365,NaN
Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,96826061,...,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059,28058793576,NaN
Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,104056432,...,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772,33556861396,NaN
Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,104645426,...,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590,35453717484,NaN
Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,106053131,...,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983,36875546852,NaN

<p align="justify">  Los datos de nuestro <code>DataFrame</code> no son numericos.
</p>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, Enero to Diciembre
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    12 non-null     object
 1   2001    12 non-null     object
 2   2002    12 non-null     object
 3   2003    12 non-null     object
 4   2004    12 non-null     object
 5   2005    12 non-null     object
 6   2006    12 non-null     object
 7   2007    12 non-null     object
 8   2008    12 non-null     object
 9   2009    12 non-null     object
 10  2010    12 non-null     object
 11  2011    12 non-null     object
 12  2012    12 non-null     object
 13  2013    12 non-null     object
 14  2014    12 non-null     object
 15  2015    12 non-null     object
 16  2016    12 non-null     object
 17  2017    12 non-null     object
 18  2018    12 non-null     object
 19  2019    12 non-null     object
 20  2020    12 non-null     object
 21  2021    12 non-null     object
 22  2022    12 non-null     object
 23  2023    12 non-null     object
 24  2024    1 non-null      object
dtypes: object(25)
memory usage: 2.4+ KB

In [ ]:
df = df.astype("float")

<p align="justify">  Ahora si son num茅ricos decimales.
</p>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, Enero to Diciembre
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2000    12 non-null     float64
 1   2001    12 non-null     float64
 2   2002    12 non-null     float64
 3   2003    12 non-null     float64
 4   2004    12 non-null     float64
 5   2005    12 non-null     float64
 6   2006    12 non-null     float64
 7   2007    12 non-null     float64
 8   2008    12 non-null     float64
 9   2009    12 non-null     float64
 10  2010    12 non-null     float64
 11  2011    12 non-null     float64
 12  2012    12 non-null     float64
 13  2013    12 non-null     float64
 14  2014    12 non-null     float64
 15  2015    12 non-null     float64
 16  2016    12 non-null     float64
 17  2017    12 non-null     float64
 18  2018    12 non-null     float64
 19  2019    12 non-null     float64
 20  2020    12 non-null     float64
 21  2021    12 non-null     float64
 22  2022    12 non-null     float64
 23  2023    12 non-null     float64
 24  2024    1 non-null      float64
dtypes: float64(25)
memory usage: 2.4+ KB

<p align="justify">  Vamos a crear un diccionario para colocar los nombres de los meses y su equivalente num茅rico. La idea es mapear en el <code>DataFrame</code> y convertir los nombres de los meses en n煤meros. De esa forma, al graficar, el eje $X$ va a estar m谩s ordenado.
</p>

In [ ]:
Meses = {"Enero":1, "Febrero":2, "Marzo":3, "Abril":4, "Mayo":5, "Junio":6,
         "Julio":7, "Agosto":8, "Septiembre":9, "Octubre":10, "Noviembre":11, "Diciembre":12}

Aplicamos el metodo <code>map()</code> al indice de nuestro <code>DataFrame</code>, y supuestamente con esto, ya estar铆a limpio todo nuestro <code>DataFrame</code>, pero lo que queremos hacer a continuaci贸n es reordenarlo solo a los efectos de graficar, ya que la distribuci贸n de los datos se encuentra a lo ancho, y <code>Plotly</code> utiliza <code>DataFrames</code> con formato a lo largo.

In [ ]:
df.index = df.index.map(Meses)

In [ ]:
df

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
Meses,,,,,,,,,,,,,,,,,,,,,
1,18843926.00,18114420.00,12722708.00,20192886.00,28492948.00,37455922.00,48307581.00,61131913.00,88818881.00,92258442.00,...,782112955.00,990329978.00,1317982229.00,1642808124.00,2195529730.00,3068476937.00,4210333243.00,6815275641.00,14525560710.00,47346036894.00
2,16258743.00,32180909.00,11237981.00,20257924.00,26276427.00,35131740.00,45290618.00,58230197.00,76675888.00,87810745.00,...,729820564.00,919810308.00,1194014665.00,1497939109.00,2103363732.00,3246583141.00,4035920128.00,6525087915.00,14960067498.00,NaN
3,17468327.00,14453688.00,11460186.00,19766456.00,27124258.00,33982257.00,45654235.00,58267059.00,74072263.00,78868768.00,...,702603251.00,965441676.00,1202600310.00,1492442509.00,2143791335.00,2869934807.00,3969197922.00,6633613415.00,15059684558.00,NaN
4,17463084.00,15809614.00,12300935.00,20503786.00,32466739.00,39149216.00,47268950.00,61113108.00,88241185.00,85345414.00,...,741563435.00,1046270167.00,1386964121.00,1611327512.00,2277286791.00,2711722096.00,4446800638.00,7882943560.50,17487400044.00,NaN
5,15978692.00,14610889.00,14265621.00,20988947.00,30252979.00,39887132.00,60082271.00,65113469.00,90479860.00,89655037.00,...,770937471.00,1043528821.00,1288922134.00,1630360944.00,2456053054.00,2558796240.00,4285918498.00,8485148694.00,18906730844.00,NaN
6,14676011.00,14328045.00,16351168.00,21041197.00,30687746.00,39160678.00,56268381.00,65906755.00,83292810.00,87674064.00,...,774531242.00,991656616.00,1291359719.00,1725684002.00,2334065968.00,2601499359.00,4477259473.00,8272230858.00,20011320650.00,NaN
7,15299790.00,14675150.00,17106546.00,21763328.00,30962034.00,39205417.00,59484119.00,66270873.00,88028892.00,90860861.00,...,856524734.00,1105998076.00,1355228857.00,1734466058.00,2419755126.00,2800037597.00,4653112414.00,9777144943.00,22575360462.00,NaN
8,15802483.00,14475158.00,18373950.00,23185411.00,31937418.00,40688413.00,58732118.00,67496826.00,94763397.00,93054929.00,...,859765325.00,1127364425.00,1460045961.00,1884253360.00,2761171810.00,3271900805.00,4977782152.00,10673847335.00,24771434365.00,NaN
9,15756538.00,16781292.00,18684199.00,25513569.00,31578993.00,43003892.00,63159166.00,70058014.00,91342609.00,96826061.00,...,831099102.00,1141604417.00,1518901732.00,2059133833.00,2874249708.00,3102345313.00,5349090672.00,10903034059.00,28058793576.00,NaN
10,15731005.00,13506128.00,18518490.00,25042384.00,33774686.00,41477902.00,63007199.00,72036143.00,90090534.00,104056432.00,...,897798301.00,1098256448.00,1483261492.00,2154164859.00,2863717767.00,3254208843.00,5368896164.00,11468663772.00,33556861396.00,NaN
11,15660556.00,13446877.00,21317298.00,25520492.00,33742035.00,42190330.00,61376701.00,75454989.00,85291059.00,104645426.00,...,896822309.00,1175329181.00,1484020632.00,2203835394.00,2963817482.00,3590381705.00,5800018664.00,12420675590.00,35453717484.00,NaN
12,16032799.00,11570299.00,19508401.00,25122948.00,34519525.00,45989899.00,55169335.00,66286135.00,88008564.00,106053131.00,...,928323895.00,1192269519.00,1668256848.00,2105064934.00,2857067481.00,3619140640.00,6548178069.00,12973069983.00,36875546852.00,NaN

In [ ]:
lista = []

In [ ]:
for i, j in enumerate(df.columns):
  datos = pd.DataFrame(df[j])
  datos = datos.rename(columns={j:"iibb"})
  datos["A帽o"] = 2000+i
  datos = datos[["A帽o","iibb"]]
  lista.append(datos)

In [ ]:
iibb = pd.concat(lista)
iibb.index.name = "Mes"
iibb.reset_index(inplace=True)

In [ ]:
iibb

     Mes   A帽o        iibb
0      1  2000 18843926.00
1      2  2000 16258743.00
2      3  2000 17468327.00
3      4  2000 17463084.00
4      5  2000 15978692.00
..   ...   ...         ...
295    8  2024         NaN
296    9  2024         NaN
297   10  2024         NaN
298   11  2024         NaN
299   12  2024         NaN

[300 rows x 3 columns]

# **<font color="DeepPink">Gr谩fico</font>**

In [ ]:
px.line(iibb.query("A帽o > 2002 & A帽o < 2005"),
        x="Mes",
        y="iibb",
        color="A帽o",
        template="gridon",
        title="Ingresos Brutos",
        markers=True,
        labels={"iibb":"Recaudaci贸n"})