<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.01/bds_ejecicio_001_resuelto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

<p align="center">
<img src="https://www.python.org/static/community_logos/python-powered-h-70x91.png">
</p>

# â˜¯ <font color="DeepPink">**Actividad 001**</font>

## ðŸ”¹ <font color="DeepPink">**Habilitando pandas**</font>

In [ ]:
import pandas as pd

## ðŸ”¹ <font color="DeepPink">**Datos**</font>

<p>
<font color="DeepPink">

> **Generar listas, con diez elementos cada una, de acuerdo a lo solicitado...(cuando sea texto, colocar todo en minÃºscula)** 
</font>
</p>

In [ ]:
codigo = ["e0123","e253","e8593","e3338","e3321","e8976","e3678","e6573","e2366","e1123"]

In [ ]:
descripcion = ["televisor","plancha","heladera","lavarropa","microondas","juguera","aspiradora","radio","freezer","lavavajillas" ]

In [ ]:
cantidad = [4,6,2,8,6,9,4,6,8,9]

In [ ]:
precio = [99000,24000,120000,98000,79000,24000,34000,36900,89000,110000]

<p>
<font color="DeepPink">

> **Generar una lista, con los nombres de las listas anteriores...** 
</font>
</p>

In [ ]:
listas_nombres = ["codigo","descripcion","cantidad","precio"]

<p>
<font color="DeepPink">

> **Generar una lista, con las listas anteriores...** 
</font>
</p>

In [ ]:
listas = [codigo,descripcion,cantidad,precio]

<p>
<font color="DeepPink">

> **Generar un diccionario que contenga las listas generadas...** 
</font>
</p>

In [ ]:
diccionario = {"Codigo":codigo,"Descripcion":descripcion,"Cantidad":cantidad,"Precio":precio}

## ðŸ”¹ <font color="DeepPink">**CreaciÃ³n del DataFrame**</font>

In [ ]:
df = pd.DataFrame(diccionario)

## ðŸ”¹ <font color="DeepPink">**AnÃ¡lisis de objetos**</font>

<p>
<font color="DeepPink">

> **Con ```print(f"")``` indicar de cada lista, el nombre y la cantidad de elementos de cada una de ellas...** 
</font>
</p>

In [ ]:
print(f"La lista {listas_nombres[0]} tiene {len(listas[0])} elementos...")

La lista codigo tiene 10 elementos...

In [ ]:
print(f"La lista {listas_nombres[1]} tiene {len(listas[1])} elementos...")

La lista descripcion tiene 10 elementos...

In [ ]:
print(f"La lista {listas_nombres[2]} tiene {len(listas[2])} elementos...")

La lista cantidad tiene 10 elementos...

In [ ]:
print(f"La lista {listas_nombres[3]} tiene {len(listas[3])} elementos...")

La lista precio tiene 10 elementos...

<p>
<font color="DeepPink">

> **Visualizar el dataframe...** 
</font>
</p>

In [ ]:
df

  Codigo   Descripcion  Cantidad  Precio
0  e0123     televisor         4   99000
1   e253       plancha         6   24000
2  e8593      heladera         2  120000
3  e3338     lavarropa         8   98000
4  e3321    microondas         6   79000
5  e8976       juguera         9   24000
6  e3678    aspiradora         4   34000
7  e6573         radio         6   36900
8  e2366       freezer         8   89000
9  e1123  lavavajillas         9  110000

<p>
<font color="DeepPink">

> **Visualizar las primeras $3$ filas y las Ãºltimas $4$ filas...** 
</font>
</p>

In [ ]:
df.head(3)

  Codigo Descripcion  Cantidad  Precio
0  e0123   televisor         4   99000
1   e253     plancha         6   24000
2  e8593    heladera         2  120000

In [ ]:
df.tail(4)

  Codigo   Descripcion  Cantidad  Precio
6  e3678    aspiradora         4   34000
7  e6573         radio         6   36900
8  e2366       freezer         8   89000
9  e1123  lavavajillas         9  110000

<p>
<font color="DeepPink">

> **Obtener informaciÃ³n del dataframe...** 
</font>
</p>

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Codigo       10 non-null     object
 1   Descripcion  10 non-null     object
 2   Cantidad     10 non-null     int64
 3   Precio       10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 448.0+ bytes

<p>
<font color="DeepPink">

> **Hacer un anÃ¡lisis estadÃ­stico descriptivo de las variables numÃ©ricas...** 
</font>
</p>

In [ ]:
df.describe().round(2)

       Cantidad     Precio
count     10.00      10.00
mean       6.20   71390.00
std        2.35   37670.04
min        2.00   24000.00
25%        4.50   34725.00
50%        6.00   84000.00
75%        8.00   98750.00
max        9.00  120000.00

<p>
<font color="DeepPink">

> **Obtener las dimensiones del dataframe, y hacer un ```print(f"")```indicando la cantidad de filas y columnas...** 
</font>
</p>

In [ ]:
print(f"El dataframe tiene {df.shape[0]} filas y {df.shape[1]} columnas...")

El dataframe tiene 10 filas y 4 columnas...

## ðŸ”¹ <font color="DeepPink">**Un poco mÃ¡s dificil...**</font>

<p>
<font color="DeepPink">

> **Crear una columna nueva, que multiplique cantidad por precio, el nombre de esta columna es ```Operacion```...** 
</font>
</p>

In [ ]:
df["Operacion"] = df.Cantidad * df.Precio

<p>
<font color="DeepPink">

> **Visualizar el dataframe...** 
</font>
</p>

In [ ]:
df

  Codigo   Descripcion  Cantidad  Precio  Operacion
0  e0123     televisor         4   99000     396000
1   e253       plancha         6   24000     144000
2  e8593      heladera         2  120000     240000
3  e3338     lavarropa         8   98000     784000
4  e3321    microondas         6   79000     474000
5  e8976       juguera         9   24000     216000
6  e3678    aspiradora         4   34000     136000
7  e6573         radio         6   36900     221400
8  e2366       freezer         8   89000     712000
9  e1123  lavavajillas         9  110000     990000

<br>
<br>
<p align="center"><b>
ðŸ’—
<font color="DeepPink">
Hemos llegado al final de nuestro colab, a seguir codeando...
</font>
</p>
<br>
<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

---