<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.01/bds_python_001_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

# **<font color="DeepPink">Fundamentos de programacion en Python</font>**

<p align="center">
<img src="https://www.python.org/static/community_logos/python-powered-h-70x91.png">
</p>

<p align="justify"><b>
<font color="DeepPink">
üíó Todo el mundo deberia aprender a programar, porque te ense√±a a pensar...
</font>
</p>
<p align="right"><b>
<font color="DeepPink">
Steve Jobs (1995)
</font>
</p>
<br>
<br>

# **<font color="DeepPink">Introducci√≥n de la programaci√≥n</font>**

<p align="justify">
La programaci√≥n es el proceso que se utiliza para dise√±ar e implementar un programa, vali√©ndose de alg√∫n lenguaje que permita comunicar una serie de acciones que se requiere que la computadora realice. Podemos pensar que es una caja negra que recibe alguna informaci√≥n, la cual es llamada "input" (entrada), realiza alguna acci√≥n, y devuelve informaci√≥n, la cual es llamada "output" (salida).</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Image_0004.jpg?raw=true" width="600" height="">
</p>

<p>
<font color="DeepPink">

**üëÄ Antes que nada, verificamos la versi√≥n de Python con la cual estamos trabajando...**

</font>
</p>

In [ ]:
!python3 -V

Python 3.9.16

<p align="justify">
Ahora si, antes de avanzar con el desarrollo de los contenidos, veamos un peque√±o ejemplo de programaci√≥n en Python. Este programa es un simple adivinador de n√∫meros.</p>

In [ ]:
secret_number = 20

while True:
  number = input('Adivina el n√∫mero secreto: ')
  try:
    number = int(number)
  except:
    print('Lo siento, este no es el n√∫mero')
    continue
 
  if number != secret_number:
    if number > secret_number:
      print(number, 'Este n√∫mero es mas grande que el n√∫mero secreto')
 
    elif number < secret_number:
      print(number, 'Este n√∫mero es mas chico que el n√∫mero secreto')
  else:
    print('Adivinaste el n√∫mero:', secret_number)
    break

Adivina el n√∫mero secreto: 20
Adivinaste el n√∫mero: 20

## **<font color="DeepPink">Lenguajes de programaci√≥n</font>**

<p align="justify">
Un lenguaje de programaci√≥n es un lenguaje formal que proporciona una serie de instrucciones, las cuales permiten a un programador escribir secuencias de √≥rdenes para controlar el comportamiento f√≠sico y l√≥gico de una computadora, con el objetivo de que produzca diversas acciones deseadas por el programador y por los usuarios.<br><br>Algunos de los lenguajes mas populares en los √∫ltimos tiempos son Python, Java, C++, JavaScript, etc.</p>

## **<font color="DeepPink">Python: el lenguaje de programaci√≥n m√°s utilizado en la actualidad</font>**

<p align="justify">
Python es un lenguaje de programaci√≥n creado por por el inform√°tico holand√©s Guido van Rossum a principios de los a√±os 90 para administrar sistemas operativos, concretamente el sistema operativo Amoeba. Sus construcciones ling√º√≠sticas y su enfoque orientado a objetos tienen como objetivo ayudar a los programadores a escribir c√≥digo claro y l√≥gico para proyectos peque√±os y grandes. Python es un lenguaje similar a Perl, pero con una sintaxis muy limpia.<br><br>Python es un lenguaje de tipado din√°mico, es decir, que los tipos de datos se asignan a las variables durante su uso, y no durante la escritura o compilaci√≥n de los programas y de los scripts.
Por eso es muy f√°cil trabajar con este lenguaje y crear programas flexibles, que se modifiquen sobre la marcha de su ejecuci√≥n.<br><br> Seg√∫n el √≠ndice TIOBE, el lenguaje m√°s utilziado del mundo en la actualidad es Python. Python ha estado en la cima del √≠ndice TIOBE durante los √∫ltimos a√±os y ha experimentado un crecimiento significativo en popularidad durante la √∫ltima d√©cada. De hecho, la popularidad de Python se ha triplicado desde 2010, lo que lo convierte en el lenguaje de programaci√≥n de m√°s r√°pido crecimiento.
</p>

Python es:
- un lenguaje interpretado o de script,
- con tipado din√°mico,
- fuertemente tipado,
- multiplataforma y
- orientado a objetos.

### **<font color="DeepPink">Lenguaje interpretado o de script</font>**

<p align="justify">
Un lenguaje interpretado o de script es aquel que se ejecuta utilizando un programa intermedio llamado int√©rprete, en lugar de compilar el c√≥digo a lenguaje m√°quina que pueda comprender y ejecutar directamente una computadora (lenguajes compilados).<br><br>
La ventaja de los lenguajes compilados es que su ejecuci√≥n es m√°s r√°pida. Sin embargo los lenguajes interpretados son m√°s flexibles y m√°s portables.
Python tiene, no obstante, muchas de las caracter√≠sticas de los lenguajes compilados, por lo que se podr√≠a decir que es semi interpretado.</p>

### **<font color="DeepPink">Con tipado din√°mico</font>**

<p align="justify">
La caracter√≠stica de tipado din√°mico se refiere a que no es necesario declarar el tipo de dato que va a contener una determinada variable, sino que su tipo se determinar√° en tiempo de ejecuci√≥n seg√∫n el tipo del valor al que se asigne, y el tipo de esta variable puede cambiar si se le asigna un valor de otro tipo.</p>

### **<font color="DeepPink">Fuertemente tipado</font>**

<p align="justify">
No se permite tratar a una variable como si fuera de un tipo distinto al que tiene, es necesario convertir de forma expl√≠cita dicha variable al nuevo tipo previamente. <br><br>Por ejemplo, si tenemos una variable que contiene un texto (variable de tipo cadena o string) no podremos tratarla como un n√∫mero (sumar la cadena ‚Äú9‚Äù y el n√∫mero 8). <br><br>En otros lenguajes el tipo de la variable cambiar√≠a para adaptarse al comportamiento esperado, aunque esto es m√°s propenso a errores.</p>

### **<font color="DeepPink">Multiplataforma</font>**

<p align="justify">
El int√©rprete de Python est√° disponible en multitud de plataformas (UNIX, Solaris, Linux, DOS, Windows, OS/2, Mac OS, etc.) por lo que si no utilizamos librer√≠as espec√≠ficas de cada plataforma, nuestro programa podr√° correr en todos estos sistemas operativos sin grandes cambios.</p>

### **<font color="DeepPink">Orientado a objetos</font>**

<p align="justify">
La orientaci√≥n a objetos es un paradigma de programaci√≥n en el que los conceptos del mundo real relevantes para nuestro problema se trasladan a clases y objetos en nuestro programa. La ejecuci√≥n del programa consiste en una serie de interacciones entre los objetos.</p>

## **<font color="DeepPink">Programaci√≥n orientada a objetos (POO)</font>**

<p align="justify">
Entonces, la programaci√≥n orientada a objetos es un paradigma de programaci√≥n que divide los componentes de un programa en objetos. En Python los objetos suelen tener <b>atributos</b> (datos asociados al objeto) y <b>m√©todos</b> (funciones asociadas con un objeto que pueden tener acceso a los datos internos del objeto). Es decir, el estado del objeto se define a trav√©s de variables llamadas atributos, mientras que la funcionalidad se modela a trav√©s de funciones a las que se les conoce con el nombre de m√©todos del objeto. <br><br>En Python todo es un objeto. <br><br>Una caracter√≠stica importante del lenguaje Python es la consistencia de su modelo de objetos. Cada n√∫mero, cadena de caracteres, estructura de datos (tuplas, listas, diccionarios, conjuntos, etc.), funci√≥n, clase, m√≥dulo, etc. tiene su propia "caja", que se denomina objeto de Python. Por lo general el paradigma orientado a objetos resulta adecuado cuando queremos agrupar estados (datos) y comportamiento (c√≥digo) juntos en pr√°cticos paquetes de funcionalidad.<br><br> Los marcos de trabajo y bibliotecas de Python utilizan este paradigma para construir su c√≥digo base. Algunos ejemplos son Django, Pandas, Scikit-learn, NumPy y TensorFlow. <br><br>A continuaci√≥n, veamos algunos ejemplos de objetos:
</p>

In [ ]:
#n√∫mero
number = 10

In [ ]:
#cadena de caracteres
string = "Python"

In [ ]:
#tupla
tuple = (1,2,3,4,5)

In [ ]:
#lista
list1 = [1,2,3,4,5]

In [ ]:
#lista de 7 n√∫meros generados aleatoriamente a partir de una distribuaci√≥n normal est√°ndar
import numpy as np
list2 = [np.random.standard_normal() for i in range(7)]

In [ ]:
#vector de 3 elementos
array1 = np.array([1,3,5])
print("Vector\n", array1)

#matriz de 2 x 3
array2 = np.array([[1,5,9],[2,6,8]])
print("\nMatriz\n", array2)

Vector
 [1 3 5]

Matriz
 [[1 5 9]
 [2 6 8]]

In [ ]:
import pandas as pd

#Dataframe
df1 = pd.DataFrame({"Edad":[30, 40, 50],
                   "Salario": [40000, 38000, 50000]
                   })
df1

   Edad  Salario
0    30    40000
1    40    38000
2    50    50000

In [ ]:
df2 = pd.DataFrame(array2, columns=['col_1', 'col_2', 'col_3'])
df2

   col_1  col_2  col_3
0      1      5      9
1      2      6      8

<p align="justify">
<b>Nota</b>: algunos tipos de objetos de Python son m√°s legibles cuando son impresos usando la funci√≥n integrada de Python <code>print</code>, otros no. <br><br>Veamos algunos ejemplos: </font>

In [ ]:
list2

[0.20471840330147706,
 -1.1346954956025752,
 -1.6564546822812831,
 1.587310754830892,
 -1.8029717369020897,
 0.5080004354031251,
 0.8760076781630567]

In [ ]:
print(list2)

[0.20471840330147706, -1.1346954956025752, -1.6564546822812831, 1.587310754830892, -1.8029717369020897, 0.5080004354031251, 0.8760076781630567]

In [ ]:
array2

array([[1, 5, 9],
       [2, 6, 8]])

In [ ]:
print(array2)

[[1 5 9]
 [2 6 8]]

In [ ]:
df1

   Edad  Salario
0    30    40000
1    40    38000
2    50    50000

In [ ]:
print(df1)

   Edad  Salario
0    30    40000
1    40    38000
2    50    50000

## **<font color="DeepPink">M√©todos y atributos</font>**

### **<font color="DeepPink">M√©todo</font>**

Son las funciones asociadas al objeto. Se accede a los m√©todos a trav√©s de la sintaxis `obj.method_name`.

In [ ]:
string.upper()

'PYTHON'

In [ ]:
array1.max()

5

In [ ]:
list1.append(6)
list1

[1, 2, 3, 4, 5, 6]

In [ ]:
df2.rename(columns={"col_1":"Columna_1",
                    "col_2":"Columns_2",
                    "col_3":"Columna_3"}, 
           inplace=True)
df2

   Columna_1  Columns_2  Columna_3
0          1          5          9
1          2          6          8

### **<font color="DeepPink">Atributo</font>**

<p align="justify">
Los atributos de datos definen el estado del objeto. En otros lenguajes son conocidos simplemente como atributos. 
Son datos asociados al objeto. Se accede a los atributos a trav√©s de la sintaxis <code>obj.attribute_name</code>.</p>

In [ ]:
array2.shape

(2, 3)

In [ ]:
print("La matriz es de ", array2.shape[0], "x", array2.shape[1])

La matriz es de  2 x 3

## **<font color="DeepPink">Introspecci√≥n</font>**

Usando el signo de interrogaci√≥n (`?`) antes o despu√©s de un objeto mostrar√° su informaci√≥n general.

In [ ]:
?array1

In [ ]:
df1?

Si el objeto es una funci√≥n, usando `?` tambi√©n se mostrar√° la documentaci√≥n si est√° definida.

In [ ]:
#funci√≥n
print?

<p align="justify">
Si creamos una funci√≥n cualquiera, para agregar esta documentaci√≥n es necesario abrir y cerrar con tres comillas (simples o dobles). La creaci√≥n de funciones y clases ser√°n desarrolladas m√°s adelante en este m√≥dulo.</p>

In [ ]:
def add_numbers(a, b):
    '''
    Add two numbers together

    Returns
    -------
    the_sum : type of arguments
    '''
    return a + b

## **<font color="DeepPink">Referencias din√°micas y tipado</font>**

<p align="justify">
Las variables en Python no tienen un tipo inherente asociado con ellas; una variable puede hacer referencia a un tipo diferente de objeto simplemente haciendo una asignaci√≥n.</p>

In [ ]:
a = 5
type(a)

int

In [ ]:
b = "5"
type(b)

str

In [ ]:
c = [1,2,3]
type(c)

list

<p align="justify">
Las variables son nombres de objetos, la informaci√≥n de tipo se almacena en el propio objeto.</p>

Realicemos la siguiente operaci√≥n matem√°tica:

In [ ]:
5 + '5'

TypeError: ignored

<p align="justify">
!Esta operaci√≥n genera un error! En algunos lenguajes, la cadena de caracteres <code>'5'</code> puede convertirse impl√≠citamente en un n√∫mero entero, lo que genera <code>10</code>. En otros, el n√∫mero entero <code>5</code> puede convertirse en una cadena, lo que genera la cadena concatenada <code>'55'</code>. <br><br>En Python, tales conversiones impl√≠citas no est√°n permitidas. En este sentido decimos que Python es un lenguaje <b>fuertemente tipado</b>, lo que significa que cada objeto tiene un tipo espec√≠fico.</p>

<p align="justify">
Es importante conocer el tipo de un objeto. Tambi√©n puede verificar que un objeto es una instancia de un tipo particular usando la funci√≥n <code>isinstance</code>.

In [ ]:
isinstance(a, int)

True

<p align="justify">
<code>isinstance</code> puede aceptar una tupla de tipos si desea verificar que el tipo de un objeto se encuentra entre los presentes en la tupla:</p>

In [ ]:
isinstance(a, (int, float))

True

<br>
<br>
<p align="center"><b>
üíó
<font color="DeepPink">
Hemos llegado al final de nuestro colab, a seguir codeando...
</font>
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

---