<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.01/bds_pandas_003_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="DeepPink">Cargando datos en Pandas, formatos y archivo de datos</font>**

<p align="justify">
Leer datos y hacerlos accesibles, a veces denominado carga de datos, uno de los pasos del ETL: <ul><li>Extract</li><li>Transform</li><li>Load</li></ul></p> <p align="justify">
es el primer paso necesario para todo lo que queremos hacer. El t茅rmino an谩lisis tambi茅n se usa a veces para describir la carga de datos de texto y su interpretaci贸n como tablas y diferentes tipos de datos. Ahora vamos a desarrollar la entrada y salida de datos usando <code>Pandas</code>, aunque existen numerosas herramientas en otras bibliotecas para hacer lo mismo.
</p>

<p align="justify">  Por convenci贸n, as铆 se importa <code>Pandas</code>:  </p>

In [ ]:
import numpy as np
import pandas as pd

 # **<font color="DeepPink">Leer y escribir datos en formato de texto</font>**

<p align="justify">
<code>Pandas</code> presenta una serie de funciones para leer datos tabulares como un objeto <code>DataFrame</code>.</p>

<p align="justify">  Esas funciones son:
<ul>
<li><code>read_csv()</code> datos delimitados desde archivo CSV, una direcci贸n URL u objeto similar a un archivo</li>
<li><code>read_fwf()</code> datos en formato de columna de ancho fijo sin delimitadores</li>
<li><code>read_excel()</code> datos tabulares de un archivo Excel XLS o XLSX</li>
<li><code>read_hdf()</code> archivos HDF5 escritos por <code>Pandas</code></li>
<li><code>read_html()</code> todas las tablas que se encuentran en el documento HTML</li>
<li><code>read_json()</code> datos de una cadena, archivo, URL u objeto similar a un archivo JSON (JavaScript Object Notation)</li>
<li><code>read_feather()</code> formato de archivo binario Feather</li>
<li><code>read_orc()</code> formato de archivo binario Apache ORC</li>
<li><code>read_parquet()</code> formato de archivo binario Apache Parquet</li>
<li><code>read_pickle()</code> objeto almacenado por <code>Pandas</code> usando el formato pickle de <code>Python</code></li>
<li><code>read_sas()</code> conjunto de datos SAS almacenado en formato de almacenamiento del sistema SAS</li>
<li><code>read_spss()</code> archivo de datos creado por SPSS</li>
<li><code>read_sql()</code> resultados de una consulta SQL (usando SQLAlchemy)</li>
<li><code>read_sql_table()</code> tabla SQL completa (usando SQLAlchemy); equivalente a una consulta que selecciona todo</li>
<li><code>read_stata()</code> conjunto de datos del formato de archivo Stata</li>
<li><code>read_xml()</code> tabla de datos de un archivo XML</li>
</ul>
</p>

 ## **<font color="DeepPink">Lectura de archivos en partes</font>**

<p align="justify">
Al procesar archivos muy grandes o descubrir el conjunto correcto de argumentos para procesar correctamente un archivo grande, <code>Pandas</code> permite leer solo una peque帽a parte de un archivo o iterar a trav茅s de partes m谩s peque帽as del archivo.</p>

In [ ]:
datos="https://raw.githubusercontent.com/cristiandarioortegayubro/BDS/main/datasets/beneficios-otorgados-colaborativa-202210.xlsx-Dataset.csv"

In [ ]:
subsidios = pd.read_csv(datos)
subsidios.head()

,beneficio_tipo,beneficiario_razon_social,beneficiario_cuit,proyecto_nombre,proyecto_id,proyecto_resumen,sector_edc,provincia_nombre,provincia_id,localidad_nombre,localidad_id,resolucion,anr_abonado,subsidio_tasa_credito
0,Bonificaci贸n de tasa crediticia,Esg Dilec SA,30708334584,"Sistema multiplataforma de lectura, explotaci贸...",1,La provisi贸n de una plataforma inform谩tica y d...,Industria 4.0,Santa Fe,82,Rosario,82084270000,RESOL-2021-407-APN-SIECYGCE#MDP,NaN,4008128
1,ANR,Esg Dilec SA,30708334584,"Sistema multiplataforma de lectura, explotaci贸...",1,La provisi贸n de una plataforma inform谩tica y d...,Industria 4.0,Santa Fe,82,Rosario,82084270000,RESOL-2021-407-APN-SIECYGCE#MDP,4954725.0,NaN
2,ANR,Laboratorio Biol贸gico Tandil SRL,30638064126,Fabricaci贸n de Polar铆metro nacional,2,Industrializaci贸n del codesarrollo realizado e...,Biotecnolog铆a \n,Buenos Aires,6,Tandil,6791050000,RESOL-2021-416-APN-SIECYGCE#MDP,4482165.0,NaN
3,Bonificaci贸n de tasa crediticia,Laboratorio Biol贸gico Tandil SRL,30638064126,Fabricaci贸n de Polar铆metro nacional,2,Industrializaci贸n del codesarrollo realizado e...,Biotecnolog铆a \n,Buenos Aires,6,Tandil,6791050000,RESOL-2021-416-APN-SIECYGCE#MDP,NaN,720530
4,Bonificaci贸n de tasa crediticia,Redimec SRL,33629783909,Fabricaci贸n de Polar铆metro nacional,2,Industrializaci贸n del codesarrollo realizado e...,Software,Buenos Aires,6,Tandil,6791050000,RESOL-2021-416-APN-SIECYGCE#MDP,NaN,737628

<p align="justify">  Los puntos suspensivos $...$ indican que se han omitido las filas en el medio del <code>DataFrame</code>. Se puede leer solo una peque帽a cantidad de filas (evitando leer todo el archivo), con el par谩metro <code>nrows</code> indicando en 茅l, la cantidad de filas o 铆ndices que se quieren leer.
</p>

In [ ]:
pd.read_csv(datos, nrows=4)

,beneficio_tipo,beneficiario_razon_social,beneficiario_cuit,proyecto_nombre,proyecto_id,proyecto_resumen,sector_edc,provincia_nombre,provincia_id,localidad_nombre,localidad_id,resolucion,anr_abonado,subsidio_tasa_credito
0,Bonificaci贸n de tasa crediticia,Esg Dilec SA,30708334584,"Sistema multiplataforma de lectura, explotaci贸...",1,La provisi贸n de una plataforma inform谩tica y d...,Industria 4.0,Santa Fe,82,Rosario,82084270000,RESOL-2021-407-APN-SIECYGCE#MDP,NaN,4008128.0
1,ANR,Esg Dilec SA,30708334584,"Sistema multiplataforma de lectura, explotaci贸...",1,La provisi贸n de una plataforma inform谩tica y d...,Industria 4.0,Santa Fe,82,Rosario,82084270000,RESOL-2021-407-APN-SIECYGCE#MDP,4954725.0,NaN
2,ANR,Laboratorio Biol贸gico Tandil SRL,30638064126,Fabricaci贸n de Polar铆metro nacional,2,Industrializaci贸n del codesarrollo realizado e...,Biotecnolog铆a \n,Buenos Aires,6,Tandil,6791050000,RESOL-2021-416-APN-SIECYGCE#MDP,4482165.0,NaN
3,Bonificaci贸n de tasa crediticia,Laboratorio Biol贸gico Tandil SRL,30638064126,Fabricaci贸n de Polar铆metro nacional,2,Industrializaci贸n del codesarrollo realizado e...,Biotecnolog铆a \n,Buenos Aires,6,Tandil,6791050000,RESOL-2021-416-APN-SIECYGCE#MDP,NaN,720530.0

<p align="justify">  Para leer un archivo en partes, se utiliza el parametro <code>chunksize</code> y se especifica el n煤mero de filas o 铆ndices.
</p>

In [ ]:
partes = pd.read_csv(datos, chunksize=20)

In [ ]:
type(partes)

pandas.io.parsers.readers.TextFileReader

In [ ]:
beneficios = pd.Series([], dtype="int64")

In [ ]:
for i in partes:
    beneficios = beneficios.add(i["beneficio_tipo"].value_counts(), fill_value=0)

In [ ]:
beneficios = beneficios.sort_values(ascending=False)
beneficios

ANR                                39.0
Bonificaci贸n de tasa crediticia    23.0
dtype: float64

<p align="justify">  En el caso de la funcion <code>read_csv()</code>, los par谩metros m谩s destacados, son los siguientes:
<ul>
<li><code>path()</code> indica la ubicaci贸n del sistema de archivos, URL u objeto similar a un archivo</li>
<li><code>sep()</code> caracteres o expresi贸n regular que se usar谩 para dividir campos en cada fila</li>
<li><code>header()</code> n煤mero de fila para nombres de columna, deber铆a ser <code>None</code> si no hay encabezado.</li>
<li><code>index_col()</code> n煤mero de columna o nombre de columna para usar como 铆ndice</li>
<li><code>names()</code> lista de nombres de columnas</li>
<li><code>skiprows()</code> n煤mero de filas al principio del archivo para ignorar o lista de n煤meros de fila (a partir de 0) para omitir</li>
<li><code>na_values()</code> secuencia de valores para reemplazar con NA</li>
<li><code>keep_default_na()</code> usar o no la lista de valores predeterminados NA (<code>True</code> por defecto)</li>
<li><code>parse_dates()</code> intenta analizar los datos en <code>datetime</code></li>
<li><code>converters()</code> aplicar铆a la funci贸n <code>f</code> a los valores indicados </li>
<li><code>dayfirst()</code> al analizar fechas ambiguas, se le aplica formato internacional</li>
<li><code>verbose()</code> muestra informaci贸n de an谩lisis diversa</li>
<li><code>encoding()</code> codificaci贸n de texto</li>
<li><code>squeeze()</code> Si los datos analizados contienen solo una columna, devuelva una <code>Serie</code></li>
<li><code>thousands()</code> separador de miles</li>
<li><code>decimal()</code> separador decimal</li>
<li><code>engine()</code> motor de conversi贸n y an谩lisis de CSV para usar</li>
</ul>
</p>

 ## **<font color="DeepPink">Escritura de archivos</font>**

<p align="justify">
Los datos tambi茅n se pueden exportar a un formato delimitado.</p>

In [ ]:
subsidios1 = subsidios.iloc[0:10,[0,2]]
subsidios1

                    beneficio_tipo  beneficiario_cuit
0  Bonificaci贸n de tasa crediticia        30708334584
1                              ANR        30708334584
2                              ANR        30638064126
3  Bonificaci贸n de tasa crediticia        30638064126
4  Bonificaci贸n de tasa crediticia        33629783909
5                              ANR        33629783909
6                              ANR        30709392243
7  Bonificaci贸n de tasa crediticia        30709585939
8                              ANR        30709585939
9                              ANR        30560312411

<p align="justify">  Usando el m茅todo <code>to_csv()</code>, podemos escribir los datos en un archivo separado por comas.
</p>

In [ ]:
subsidios1.to_csv("subsidios.csv")
!cat subsidios.csv

,beneficio_tipo,beneficiario_cuit
0,Bonificaci贸n de tasa crediticia,30708334584
1,ANR,30708334584
2,ANR,30638064126
3,Bonificaci贸n de tasa crediticia,30638064126
4,Bonificaci贸n de tasa crediticia,33629783909
5,ANR,33629783909
6,ANR,30709392243
7,Bonificaci贸n de tasa crediticia,30709585939
8,ANR,30709585939
9,ANR,30560312411

<p align="justify">  Se puede usar otros delimitadores.
</p>

In [ ]:
subsidios1.to_csv("subsidios.csv", sep="|")
!cat subsidios.csv

|beneficio_tipo|beneficiario_cuit
0|Bonificaci贸n de tasa crediticia|30708334584
1|ANR|30708334584
2|ANR|30638064126
3|Bonificaci贸n de tasa crediticia|30638064126
4|Bonificaci贸n de tasa crediticia|33629783909
5|ANR|33629783909
6|ANR|30709392243
7|Bonificaci贸n de tasa crediticia|30709585939
8|ANR|30709585939
9|ANR|30560312411

<p align="justify">  Se puede prescindir del 铆ndice.
</p>

In [ ]:
subsidios1.to_csv("subsidios.csv", index=False)
!cat subsidios.csv

beneficio_tipo,beneficiario_cuit
Bonificaci贸n de tasa crediticia,30708334584
ANR,30708334584
ANR,30638064126
Bonificaci贸n de tasa crediticia,30638064126
Bonificaci贸n de tasa crediticia,33629783909
ANR,33629783909
ANR,30709392243
Bonificaci贸n de tasa crediticia,30709585939
ANR,30709585939
ANR,30560312411

<p align="justify">  y tambien, entre otras cosas, se puede prescindir del encabezado.
</p>

In [ ]:
subsidios1.to_csv("subsidios.csv", header=False)
!cat subsidios.csv

0,Bonificaci贸n de tasa crediticia,30708334584
1,ANR,30708334584
2,ANR,30638064126
3,Bonificaci贸n de tasa crediticia,30638064126
4,Bonificaci贸n de tasa crediticia,33629783909
5,ANR,33629783909
6,ANR,30709392243
7,Bonificaci贸n de tasa crediticia,30709585939
8,ANR,30709585939
9,ANR,30560312411

 # **<font color="DeepPink">HTML Web Scraping</font>**

<p align="justify">
<code>Python</code> tiene muchas bibliotecas para leer y escribir datos en los  formatos <code>HTML</code> y <code>XML</code>. Los ejemplos incluyen <code>lxml</code>, <code>Beautiful Soup</code> y <code>html5lib</code>. Si bien <code>lxml</code> es comparativamente mucho m谩s r谩pido en general, las otras bibliotecas pueden manejar mejor los archivos <code>HTML</code> o <code>XML</code> con formato incorrecto.</p>

<p align="justify">  <code>Pandas</code> tiene una funci贸n integrada, <code>read_html</code> que utiliza todas estas bibliotecas para analizar autom谩ticamente las tablas de los archivos <code>HTML</code> como objetos <code>DataFrame</code>.
</p>

<p align="justify">  Es recomendable habilitar algunas bibliotecas adicionales, en este caso, las que usa la funci贸n <code>read_html</code>.
</p>

In [ ]:
import lxml
import bs4
import html5lib

In [ ]:
URL = "https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp"

In [ ]:
recaudacion = pd.read_html(URL)

<p align="justify">  El resultado de usar la funci贸n <code>read_html</code> es una lista de objetos <code>DataFrame</code>.
</p>

In [ ]:
type(recaudacion)

list

In [ ]:
len(recaudacion)

1

In [ ]:
df = recaudacion[0]
df

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">Este es un <code>DataFrame</code> ideal para hacer tareas de limpieza y transformaci贸n de datos.
</p>

 # **<font color="DeepPink">Algunos formatos de datos binarios</font>**

<p align="justify">
Una forma sencilla de almacenar o serializar datos en formato binario es usar el m贸dulo integrado de <code>Python</code> denominado <code>pickle</code>. Todos los objetos <code>Pandas</code> tienen un metodo <code>to_pickle()</code> que escribe los datos en formato <code>pickle</code>.</p>

In [ ]:
subsidios1

                    beneficio_tipo  beneficiario_cuit
0  Bonificaci贸n de tasa crediticia        30708334584
1                              ANR        30708334584
2                              ANR        30638064126
3  Bonificaci贸n de tasa crediticia        30638064126
4  Bonificaci贸n de tasa crediticia        33629783909
5                              ANR        33629783909
6                              ANR        30709392243
7  Bonificaci贸n de tasa crediticia        30709585939
8                              ANR        30709585939
9                              ANR        30560312411

 ## **<font color="DeepPink">Pickle</font>**

In [ ]:
subsidios1.to_pickle("subsidios.pkl")

 ## **<font color="DeepPink">Parquet</font>**

In [ ]:
subsidios1.to_parquet("subsidios.parquet")

 # **<font color="DeepPink">Otros formatos</font>**

 ## **<font color="DeepPink">Json</font>**

In [ ]:
subsidios1.to_json("subsidios.json")

 ## **<font color="DeepPink">Hdf</font>**

In [ ]:
subsidios1.to_hdf("subsidios.h5", key="df")

<br>
<br>
<p align="center"><b>

<font color="DeepPink">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true"/>
</p>

---