<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/modulo.03/bds_pipeline_001_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Scikit-learn.png?raw=true">
</p>

 # **<font color="DeepPink">Primer modelo con scikit-learn</font>**

‚ù§ https://scikit-learn.org/stable/

<p align="justify">
üëÄ En este Colab, vamos a construir un modelo predictivo de datos tabulares y solo con las variables num√©ricas. <br><br>En particular, se destacan las siguientes funciones y m√©todos:
</p>

- <code>.fit(X, y)</code> para entrenar.
- <code>.predict(X)</code> para predecir.
- <code>.score(X, y)</code> para evaluar la predicci√≥n.
- Evaluaci√≥n del rendimiento del modelo con:
     - un conjunto de datos de entrenamiento.
     - un conjunto de datos de prueba.

<p align="justify"> üëÄ Los <mark>datos num√©ricos</mark> son el tipo de datos que <mark>se utilizan naturalmente en los modelos de aprendizaje autom√°tico</mark> y pueden incorporarse directamente a los modelos predictivos, bueno, casi directamente (conviene normalizarlos).<br><br> Ahora a continuaci√≥n, vamos a cargar un conjunto de  datos, pero solo vamos a trabajar con las columnas num√©ricas. Por eso, habilitamos <code>Pandas</code>, <code>Numpy</code> y leemos los datos de <code>Github</code>.</p>

In [1]:
import numpy as np
import pandas as pd

In [2]:
adult_census = pd.read_csv("https://raw.githubusercontent.com/cristiandarioortegayubro/BDS/main/datasets/adult_census.csv")

<p align="justify">
üëÄ Vamos a trabajar con los datos del censo. 
</p>

Las columnas son:

- Edad - Age
- Clase de Trabajo - Workclass
- Educacion - Education
- Educacion numerica - Education num
- Estado civil - Marital status
- Ocupacion - Occupation
- Relacion - Relationship
- Raza - Race
- Sexo - Sex
- Ganancia de capital - Capital gain
- Perdida de capital - Capital loss
- Horas por semana - Hours per week
- Pais nativo - Native country
- Clase - Class

In [3]:
adult_census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   education       48842 non-null  object
 3   education-num   48842 non-null  int64
 4   marital-status  48842 non-null  object
 5   occupation      48842 non-null  object
 6   relationship    48842 non-null  object
 7   race            48842 non-null  object
 8   sex             48842 non-null  object
 9   capital-gain    48842 non-null  int64
 10  capital-loss    48842 non-null  int64
 11  hours-per-week  48842 non-null  int64
 12  native-country  48842 non-null  object
 13  class           48842 non-null  object
dtypes: int64(5), object(9)
memory usage: 5.2+ MB

<p align="justify">
üëÄ Asignamos a un objeto la variable objetivo:
</p>

In [4]:
target_column = "class"

<p align="justify">
üëÄ Generamos la lista de las variables (columnas) numericas.
</p>

In [5]:
numerical_columns = ["age",
                     "education-num",
                     "capital-gain",
                     "capital-loss",
                     "hours-per-week"]

<p align="justify">
üëÄ Las columnas num√©ricas y la variable objetivo.
</p>

In [6]:
all_columns = numerical_columns + [target_column]

In [7]:
df = adult_census[all_columns]

üëÄ Ahora si, nuestro <code>DataFrame</code> de columnas num√©ricas..., excepto la variable objetivo que no es num√©rica...

In [8]:
df

       age  education-num  capital-gain  capital-loss  hours-per-week   class
0       25              7             0             0              40   <=50K
1       38              9             0             0              50   <=50K
2       28             12             0             0              40    >50K
3       44             10          7688             0              40    >50K
4       18             10             0             0              30   <=50K
...    ...            ...           ...           ...             ...     ...
48837   27             12             0             0              38   <=50K
48838   40              9             0             0              40    >50K
48839   58              9             0             0              40   <=50K
48840   22              9             0             0              20   <=50K
48841   52              9         15024             0              40    >50K

[48842 rows x 6 columns]

In [9]:
df.dtypes

age                int64
education-num      int64
capital-gain       int64
capital-loss       int64
hours-per-week     int64
class             object
dtype: object

<p align="justify">
‚úÖ El objetivo con estos datos es predecir si una persona gana m√°s de 50K al a√±o a partir de las variables que se encuentran a disposici√≥n.
</p>

 # **<font color="DeepPink">Algunos conceptos de Aprendizaje Autom√°tico</font>**

<p align="justify">
‚úÖ En general, un problema de <b>Aprendizaje Autom√°tico</b> considera un conjunto de $n$ muestras de datos y luego trata de predecir las propiedades de los datos desconocidos. Si cada muestra es m√°s que un solo n√∫mero, por ejemplo los datos multivariados, se dice que la muestra tiene varios atributos o caracter√≠sticas.
<br><br> Vamos a dividir los problemas de Aprendizaje Autom√°tico en dos categor√≠as:
<br><br> ‚óº <b>Aprendizaje Supervisado</b>, en el que los datos vienen con atributos adicionales que queremos predecir. El Aprendizaje Supervisado puede ser de:
<br><br>
‚óº ‚óº <b>Clasificaci√≥n</b>: las muestras pertenecen a dos (clasificacion binaria) o m√°s clases (clasificacion multiclase) y queremos aprender de los datos ya etiquetados (variable objetivo) para predecir la clase de aquellos datos que no estan etiquetados (datos nuevos). Un ejemplo de un problema de clasificaci√≥n binaria ser√≠a la predicci√≥n de la contrataci√≥n de un seguro ofrecido por un banco, en virtud de las caracteristicas de los clientes del banco.
<br>
‚óº ‚óº <b>Regresi√≥n</b>: si la salida deseada consiste en una o m√°s variables continuas, entonces este modelo se llama regresi√≥n. Un ejemplo de un problema de regresi√≥n ser√≠a la predicci√≥n del precio de una propiedad en virtud de las caracteristicas de la propiedad.
<br><br>
‚óº <b>Aprendizaje no Supervisado</b>, en el que los datos de entrenamiento consisten en un conjunto de vectores de entrada $x$ sin ninguna variable objetivo correspondiente, ya que el objetivo de tales problemas de Aprendizaje no Supervisado puede ser descubrir grupos de ejemplos similares dentro de los datos, lo que se denomina agrupamiento, o determinar la distribuci√≥n de los datos, conocido como estimaci√≥n de densidad, o proyectar los datos desde un punto de vista de dimensi√≥n, como por ejemplo, reducir el espacio a dos o tres dimensiones con el prop√≥sito de visualizaci√≥n.
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/ML-001.png?raw=true" width="500">
</p>

 # **<font color="DeepPink">Separar la variable objetivo y las variables explicativas</font>**

üëÄ Ahora vamos a dividir del conjunto de datos, la variable objetivo y las variables explicativas, es decir, vamos a obtener una <code>Serie</code> para la variable objetivo y un <code>DataFrame</code> con las variables explicativas...

 ## **<font color="DeepPink">Variable objetivo</font>**

In [10]:
y = df[target_column]
y

0         <=50K
1         <=50K
2          >50K
3          >50K
4         <=50K
          ...
48837     <=50K
48838      >50K
48839     <=50K
48840     <=50K
48841      >50K
Name: class, Length: 48842, dtype: object

üëÄ Verificamos que el objeto es una <code>Serie</code>...

In [11]:
type(y)

pandas.core.series.Series

In [12]:
y.dtype

dtype('O')

 ## **<font color="DeepPink">Variables explicativas</font>**

In [13]:
X = df.drop(columns=["class"])
X

       age  education-num  capital-gain  capital-loss  hours-per-week
0       25              7             0             0              40
1       38              9             0             0              50
2       28             12             0             0              40
3       44             10          7688             0              40
4       18             10             0             0              30
...    ...            ...           ...           ...             ...
48837   27             12             0             0              38
48838   40              9             0             0              40
48839   58              9             0             0              40
48840   22              9             0             0              20
48841   52              9         15024             0              40

[48842 rows x 5 columns]

üëÄ Verificamos que el objeto es un <code>DataFrame</code>...

In [14]:
type(X)

pandas.core.frame.DataFrame

üëÄ Todas las columnas del <code>DataFrame</code> son num√©ricas...

In [15]:
X.dtypes

age               int64
education-num     int64
capital-gain      int64
capital-loss      int64
hours-per-week    int64
dtype: object

In [16]:
X.shape

(48842, 5)

In [17]:
print("")
print(f"El conjunto de datos contiene {X.shape[0]} registros y "
      f"{X.shape[1]} variables explicativas")

El conjunto de datos contiene 48842 registros y 5 variables explicativas

 # **<font color="DeepPink">Ajustar un modelo y hacer predicciones</font>**

‚ù§ https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html

<p align="justify">
üëÄ Construiremos un modelo de clasificaci√≥n binaria usando el algoritmo de <code>regresi√≥n log√≠stica</code>.
</p>

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
model = LogisticRegression()
_ = model.fit(X, y)

<p align="justify">
üëÄ El m√©todo <code>fit</code> que vamos a utilizar, se compone de dos elementos:
</p>

- Un algoritmo de aprendizaje, y 
- Algunos estados de los modelos. 

<br>
<p align="justify">
El algoritmo de aprendizaje toma el conjunto de datos de entrenamiento y la variable objetivo de entrenamiento como entrada, es decir como <code>input</code> y establece los estados del modelo. Estos estados de los modelos se usar√°n m√°s tarde para predecir (para clasificadores y regresores)
o para transformar datos (para transformadores). <br><br>Tanto el algoritmo de aprendizaje como el tipo de estado del modelo son espec√≠ficos de cada modelo.
</p>

<p align="justify">
üëÄ Ahora bien, para predecir un modelo se utiliza una funci√≥n de predicci√≥n. El m√©todo que se utiliza es <code>predict()</code>.
</p>

In [20]:
target_predicted = model.predict(X)

<p align="justify">
üëÄ Ahora observamos las predicciones generadas. Solo veremos las primeras 10  predicciones...
</p>

In [21]:
target_predicted[:10]

array([' <=50K', ' <=50K', ' <=50K', ' >50K', ' <=50K', ' <=50K',
       ' <=50K', ' >50K', ' <=50K', ' <=50K'], dtype=object)

üëÄ Y vemos los datos reales...

In [22]:
y[:10]

0     <=50K
1     <=50K
2      >50K
3      >50K
4     <=50K
5     <=50K
6     <=50K
7      >50K
8     <=50K
9     <=50K
Name: class, dtype: object

üëÄ Y comparamos los datos reales, con las predicciones, solo para las primeras 10 muestras...

In [23]:
y[:10] == target_predicted[:10]

0     True
1     True
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: class, dtype: bool

üëÄ Y podemos ver cuantas predicciones son correctas para estas 10 muestras...

In [24]:
print("")
print(f"N√∫mero de predicciones correctas: "
      f"{(y[:10] == target_predicted[:10]).sum()} / 10")

N√∫mero de predicciones correctas: 9 / 10

üëÄ Y podemos calcular la media de las predicciones correctas...

In [25]:
(y == target_predicted).mean().round(4)

0.8143

In [26]:
model.score(X, y).round(4)

0.8143

<p align="justify">
üëÄ Este resultado significa que el modelo hace una predicci√≥n correcta para aproximadamente $81$ muestras de $100$ muestras. Hay que tener en cuenta que usamos los mismos datos para entrenar y para evaluar el modelo. ¬øSe puede confiar en esta evaluaci√≥n, o esta evaluaci√≥n es demasiado buena para ser verdad?.
<br><br>Para poder responder esa interrogante, en vez de trabajar con todas las muestras, vamos a dividir nuestros datos en un conjunto de datos de entrenamiento y un conjunto de datos de prueba...
</p>

 # **<font color="DeepPink">Divisi√≥n de datos de entrenamiento y prueba</font>**

<p align="justify">
üëÄ Al construir un modelo de aprendizaje autom√°tico, es importante evaluar el modelo entrenado en datos que no se usaron para ajustarlo <code>fit</code>, ya que la generalizaci√≥n de un modelo es m√°s que la memorizaci√≥n.
<br><br>
Esto significa que queremos un modelo de aprendizaje que generalice a nuevos datos, y no un modelo que compara con los datos que memorizamos.
<br><br> 
Es m√°s dif√≠cil concluir sobre casos nunca vistos, que concluir sobre los casos que ya hemos vistos. Por este motivo, es que se plantea una divisi√≥n de los datos disponibles.
<br><br>
Por ese motivo, los datos utilizados para ajustar un modelo se denominan datos de entrenamiento, mientras que los datos utilizados para evaluar un modelo se denominan datos de prueba, es decir, dividimos el conjunto de datos en un conjunto de datos de entrenamiento y un conjunto de datos de prueba.
</p>

üëÄ Nuestro <code>DataFrame</code> tiene las siguientes dimensiones...

In [27]:
df.shape

(48842, 6)

üëÄ Vamos a tomar una muestra de 9769 muestras (indices) y luego vamos a resetear el indice de nuestro <code>DataFrame</code> con el m√©todo <code>reset_index()</code>. A destacar, usamos el par√°metro <code>random_state</code> para ajustar la pseudoalietoriedad de la selecci√≥n de las muestras...
<br><br> 
Este valor es aproximadamente el $20$% de las muestras del <code>DataFrame</code>...

In [28]:
df_test = df.sample(9769, random_state=123)

In [29]:
round((df_test.shape[0]/df.shape[0]),3)

0.2

üëÄ Ahora generamos el conjunto de datos de entrenamiento

In [30]:
df_train = df.drop(index=df_test.index)

In [31]:
round((df_train.shape[0]/df.shape[0]),3)

0.8

üëÄ y reseteamos los indices de los dos conjuntos de datos...

In [32]:
df_test.reset_index(drop=True, inplace=True)
df_train.reset_index(drop=True, inplace=True)

üëÄ Ahora tenemos un <code>DataFrame</code> de testeo...

In [33]:
df_test

      age  education-num  capital-gain  capital-loss  hours-per-week   class
0      52              9             0             0              40   <=50K
1      19              6             0             0              30   <=50K
2      31              9             0             0              40   <=50K
3      25             13             0             0              40   <=50K
4      36              4             0             0              35   <=50K
...   ...            ...           ...           ...             ...     ...
9764   33              9             0             0              40    >50K
9765   60              9             0             0              50   <=50K
9766   38             10             0             0              40    >50K
9767   42             13             0             0              55   <=50K
9768   47              6             0             0              30   <=50K

[9769 rows x 6 columns]

In [34]:
df_test.shape

(9769, 6)

üëÄ Ahora tenemos un <code>DataFrame</code> de entrenamiento...

In [35]:
df_train

       age  education-num  capital-gain  capital-loss  hours-per-week   class
0       25              7             0             0              40   <=50K
1       28             12             0             0              40    >50K
2       44             10          7688             0              40    >50K
3       18             10             0             0              30   <=50K
4       34              6             0             0              30   <=50K
...    ...            ...           ...           ...             ...     ...
39068   53             14             0             0              40    >50K
39069   22             10             0             0              40   <=50K
39070   40              9             0             0              40    >50K
39071   58              9             0             0              40   <=50K
39072   22              9             0             0              20   <=50K

[39073 rows x 6 columns]

In [36]:
df_train.shape

(39073, 6)

üëÄ De este <code>DataFrame</code> de testeo, separamos en variable objetivo y vector de caracteristicas, la variable objetivo es nuestra $y$, el vector de caracteristicas es nuestro $X$...

In [37]:
y_test = df_test["class"]
X_test = df_test.drop(columns=["class"])

In [38]:
y_test.shape

(9769,)

In [39]:
X_test.shape

(9769, 5)

In [40]:
print("")
print(f"El conjunto de prueba contiene {X_test.shape[0]} registros y "
      f"{X.shape[1]} variables explicativas.")

El conjunto de prueba contiene 9769 registros y 5 variables explicativas.

üëÄ Hacemos lo mismo con el conjunto de datos de entrenamiento...

In [41]:
y_train = df_train["class"]
X_train = df_train.drop(columns=["class"])

In [42]:
print("")
print(f"El conjunto de prueba contiene {X_train.shape[0]} registros y "
      f"{X.shape[1]} variables explicativas.")

El conjunto de prueba contiene 39073 registros y 5 variables explicativas.

<p align="justify">
üëÄ En lugar de calcular la predicci√≥n y calcular manualmente la tasa de √©xito promedio de esa predicci√≥n, podemos usar la puntuaci√≥n del m√©todo. Cuando se trata de clasificadores, este m√©todo devuelve su m√©trica de rendimiento.
</p>

In [43]:
model = LogisticRegression()
_ = model.fit(X_train, y_train)

In [44]:
model

LogisticRegression()

In [45]:
accuracy = model.score(X_test, y_test).round(4)
accuracy

0.8122

üëÄ El nombre del modelo es...

In [46]:
model_name = model.__class__.__name__
model_name

'LogisticRegression'

In [47]:
print("")
print(f"El accuracy del modelo {model_name} es "
      f"{accuracy:.2f}")

El accuracy del modelo LogisticRegression es 0.81

<p align="justify">
üëÄ Para calcular la puntuaci√≥n de la m√©trica, el predictor primero calcula las predicciones (usando el m√©todo de predicci√≥n) y luego usa una funci√≥n de puntuaci√≥n para comparar la variable objetivo real y las predicciones realizadas. Finalmente, se devuelve la puntuaci√≥n obtenida en virtud de los aciertos en las predicciones.<br><br>Por lo tanto, es importante probar siempre el rendimiento de generalizaci√≥n de los modelos predictivos en un conjunto diferente al utilizado para entrenar los modelos, en este caso en el conjunto de prueba.
</p>

In [48]:
model.score(X, y).round(4)

0.8143

In [49]:
model.score(X_test, y_test).round(4)

0.8122

 # **<font color="DeepPink">Conclusiones</font>**

<p align="justify">
üëÄ En este colab nosotros:
<br><br>
‚úÖ Cargamos los datos de un archivo <code>CSV</code> usando <code>Pandas</code>.<br> 
‚úÖ Examinamos las variables num√©ricas.
<br>  
‚úÖ Hicimos un modelo con todo el conjunto de datos.
<br> 
‚úÖ Tambien generamos un conjunto de datos de prueba y de entrenamiento, para evaluar.</p>

<br>
<br>
<p align="center"><b>
üíó
<font color="DeepPink">
Hemos llegado al final de nuestro colab, a seguir codeando...
</font>
</p>
<br>
<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

---