<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BDS/blob/main/pandas/bds_pandas_004_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true">
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20Pandas.png?raw=true">
</p>

 # **<font color="DeepPink">Limpieza y transformaci贸n de datos</font>**

<p align="justify">
Durante el transcurso del an谩lisis y el modelado de datos, una cantidad significativa de tiempo es dedicada a la preparaci贸n de datos: carga, limpieza, y transformaci贸n. A menudo se informa que tales tareas ocupan el $80$% o m谩s del tiempo de un analista.<br><br> A veces, la forma en que se almacenan los datos en archivos o bases de datos no tiene el formato correcto para una tarea en particular. Muchos investigadores optan por realizar un procesamiento de datos en un lenguaje de programaci贸n de prop贸sito general, como lo es <code>Python</code>.<br><br> Afortunadamente <code>Pandas</code> junto con las caracter铆sticas integradas del lenguaje <code>Python</code> proporciona un conjunto de herramientas flexiblea y de alto nivel que permite manipular los datos en la forma correcta.
</p>

<p align="justify">  Por convenci贸n, as铆 se importa <code>Pandas</code>:  </p>

In [ ]:
import numpy as np
import pandas as pd

 # **<font color="DeepPink">Manejo de datos faltantes</font>**

<p align="justify">
La falta de datos ocurre com煤nmente en muchas aplicaciones de an谩lisis de datos. Todas las estad铆sticas descriptivas de los objetos <code>Pandas</code> excluyen los datos faltantes de forma predeterminada. La forma en que se representan los datos faltantes en los objetos <code>Pandas</code> es algo imperfecta, pero suficiente para la mayor铆a de los casos del mundo real.</p>

<p align="justify">  Vamos a traer un conjunto de datos de la web.
</p>

In [ ]:
import lxml
import bs4
import html5lib

In [ ]:
URL = "https://atm.mendoza.gov.ar/portalatm/zoneBottom/datosInteres/recaudacion/recaudacion_impuesto_ingresos.jsp"
recaudacion = pd.read_html(URL)
df = recaudacion[0]
df

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">  <code>Pandas</code> usa el valor de coma flotante <code>NaN</code>, que no es un n煤mero, para representar los datos que faltan. El m茅todo <code>isna()</code> nos da una serie booleana con <code>True</code> para los valores nulos.
</p>

In [ ]:
df.isna().head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

<p align="justify">  En <code>Pandas</code> se adopta por convenci贸n decirles a los datos faltantes, datos no disponibles, los <code>NA</code>. En  aplicaciones estad铆sticas, los datos no disponibles pueden ser datos que no existen o que existen pero no se observaron (debido a problemas con la recopilaci贸n de datos, por ejemplo un valor desconocido en una encuesta).<br><br> Al limpiar los datos para el an谩lisis, a menudo es importante estudiar los datos faltantes para identificar los problemas de recopilaci贸n de datos o posibles sesgos en los datos causados por los datos faltantes. <br><br>El valor integrado <code>None</code> de <code>Python</code> tambi茅n se trata como dato no disponible. <code>Pandas</code> ha intentado que el trabajo con datos no disponibles sea coherente en todos los tipos de datos.
</p>

<p align="justify">  Algunas funciones relacionadas con el manejo de datos no disponibles:
<ul>
<li><code>dropna()</code> filtra las etiquetas de los ejes en funci贸n de si faltan datos en los valores de cada etiqueta, con distintos umbrales para la cantidad de datos faltantes que se deben tolerar</li>
<li><code>fillna()</code> completa los datos faltantes con alg煤n valor predeterminado o utilizando alg煤n m茅todo</li>
<li><code>isna()</code> devuelve valores booleanos que indican qu茅 valores faltan</li>
<li><code>notna()</code> negaci贸n de <code>isna()</code></li>
</ul>
</p>

 ## **<font color="DeepPink">Filtrado de datos faltantes</font>**

<p align="justify">
Hay algunas formas de filtrar los datos que faltan, como por ejemplo <code>dropna()</code>. Esta funci贸n devuelve el objeto solo con los datos no nulos y sus respectivos valores de 铆ndice.
</p>

In [ ]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

(14, 241)

In [ ]:
df.dropna(axis=1, how="any", inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415

In [ ]:
df.shape

(14, 24)

<p align="justify">  Si se desea mantener por ejemplo, filas que contienen como m谩ximo un cierto n煤mero de datos faltantes, entonces se puede indicar con el par谩metro <code>thresh</code>.

 ## **<font color="DeepPink">Rellenado de datos faltantes</font>**

<p align="justify"> En lugar de filtrar datos faltantes, y tal vez descartar otros datos junto con ese filtrado, es posible rellenarlos de varias maneras. El m茅todo <code>fillna()</code> es el m谩s utilizado en <code>Pandas</code>. Utilizar <code>fillna()</code> con una constante reemplaza los valores faltantes con ese valor establecido como constante.

In [ ]:
recaudacion = pd.read_html(URL)
df = recaudacion[0]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.fillna(0).head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,0,0,0,0,0,0,0,0,0,0
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,0,0,0,0,0,0,0,0,0,0
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,0,0,0,0,0,0,0,0,0,0
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,0,0,0,0,0,0,0,0,0,0

<p align="justify">  Usando <code>fillna()</code> con un diccionario, se puede establecer un valor de relleno diferente para cada columna indicada en el diccionario.

In [ ]:
df.fillna({231:0, 232:0.5, 233:1, 234:1.5}).head()

,0,1,2,3,4,5,6,7,8,9,...,231,232,233,234,235,236,237,238,239,240
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,0,0.5,1,1.5,NaN,NaN,NaN,NaN,NaN,NaN
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,0,0.5,1,1.5,NaN,NaN,NaN,NaN,NaN,NaN
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,0,0.5,1,1.5,NaN,NaN,NaN,NaN,NaN,NaN
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,0,0.5,1,1.5,NaN,NaN,NaN,NaN,NaN,NaN

<p align="justify">  Algunos par谩metros
<ul>
<li><code>value()</code> valor u objeto similar a un diccionario para completar los valores que faltan</li>
<li><code>method()</code> m茅todo de interpolaci贸n <code>bfill</code> rellena hacia atr谩s, <code>ffill</code> rellena hacia adelante, y por defecto el valor establecido es <code>None</code></li>
<li><code>axis()</code> eje para rellenar, siendo filas o columas el valor indicado</li>
<li><code>limit()</code> para el llenado hacia adelante y hacia atr谩s, es el  n煤mero m谩ximo de per铆odos consecutivos para llenar</li>
</ul>
</p>

 # **<font color="DeepPink">Transformaci贸n de datos</font>**

 ## **<font color="DeepPink">Eliminaci贸n de duplicados</font>**

<p align="justify">
El m茅todo <code>duplicated()</code> devuelve una serie booleana que indica si cada fila de un <code>DataFrame</code> es un duplicado (sus valores de columna son exactamente iguales a los de una fila anterior) o no lo es.
</p>

In [ ]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

<p align="justify">  En este caso no tenemos duplicados en el <code>DataFrame</code>, pero si los hubiera, se podr铆an eliminar con el m茅todo <code>drop_duplicates()</code>. Ambos m茅todos por defecto consideran todas las columnas, pero como alternativa, se puede especificar cualquier subconjunto de ellos para detectar duplicados.

 ## **<font color="DeepPink">Transformar datos usando una funci贸n o mapeo</font>**

<p align="justify"> Para muchos conjuntos de datos, es posible realizar alguna transformaci贸n basada en los valores de una matriz, serie o columna en un <code>DataFrame</code>.

In [ ]:
df.dropna(axis=1, how="any", inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,...,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos,Ingresos Brutos
1,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
3,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
4,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415

<p align="justify">  Supongamos que deseamos agregar una columna que indique con n煤meros el mes resultante de la columna Meses. Previo a ello, vamos a poner nombres de columnas y eliminar el indice cero.

In [ ]:
df.columns = df.iloc[1]
df.columns.name = None
df.drop([0,1], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694

<p align="justify">  El m茅todo <code>map()</code> en una serie acepta una funci贸n o un objeto similar a un diccionario que contiene un mapeo para hacer la transformaci贸n de valores que estamos requiriendo.

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694

In [ ]:
Mes = {"Enero":1, "Febrero":2, "Marzo":3, "Abril":4, "Mayo":5, "Junio":6,
       "Julio":7, "Agosto":8, "Septiembre":9, "Octubre":10, "Noviembre":11, "Diciembre":12}

In [ ]:
df.Meses = df.Meses.map(Mes)
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694
5,6,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,443506242,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858
6,7,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,457074198,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943
7,8,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,476677270,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335
8,9,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,517929584,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059
9,10,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,485045463,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772
10,11,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,565675953,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590
11,12,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,581997338,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983

<p align="justify">  Otra forma:

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694

In [ ]:
Meses = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio",
         7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [ ]:
def meses(x):
  return Meses[x]

In [ ]:
df.Meses = df.Meses.map(meses)
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694
5,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,443506242,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858
6,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,457074198,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,476677270,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,517929584,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,485045463,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,565675953,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,581997338,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983

<p align="justify">  Otra forma:

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694

In [ ]:
Mes = {"Enero":1, "Febrero":2, "Marzo":3, "Abril":4, "Mayo":5, "Junio":6,
       "Julio":7, "Agosto":8, "Septiembre":9, "Octubre":10, "Noviembre":11, "Diciembre":12}

In [ ]:
df.Meses = df.Meses.map(lambda x: Mes[x])
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694
5,6,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,443506242,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858
6,7,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,457074198,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943
7,8,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,476677270,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335
8,9,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,517929584,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059
9,10,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,485045463,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772
10,11,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,565675953,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590
11,12,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,581997338,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983

 ## **<font color="DeepPink">Sustituci贸n de datos</font>**

<p align="justify"> Completar los datos que faltan con el m茅todo <code>fillna()</code> es un caso especial de reemplazo general. Como hemos visto, <code>map()</code> se puede usar para modificar un subconjunto de valores en un objeto, pero <code>replace()</code> proporciona una forma m谩s simple y flexible de hacerlo.

In [ ]:
df.head()

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,1,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,2,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,3,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,4,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,5,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694

In [ ]:
Meses = {1:"Enero", 2:"Febrero", 3:"Marzo", 4:"Abril", 5:"Mayo", 6:"Junio",
         7:"Julio", 8:"Agosto", 9:"Septiembre", 10:"Octubre", 11:"Noviembre", 12:"Diciembre"}

In [ ]:
df.replace(Meses, inplace=True)
df

,Meses,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Enero,18843926,18114420,12722708,20192886,28492948,37455922,48307581,61131913,88818881,...,397924131,617487225,782112955,990329978,1317982229,1642808124,2195529730,3068476937,4210333243,6815275641
1,Febrero,16258743,32180909,11237981,20257924,26276427,35131740,45290618,58230197,76675888,...,384301390,594553955,729820564,919810308,1194014665,1497939109,2103363732,3246583141,4035920128,6525087915
2,Marzo,17468327,14453688,11460186,19766456,27124258,33982257,45654235,58267059,74072263,...,380740043,574800388,702603251,965441676,1202600310,1492442509,2143791335,2869934807,3969197922,6633613415
3,Abril,17463084,15809614,12300935,20503786,32466739,39149216,47268950,61113108,88241185,...,409508295,590621171,741563435,1046270167,1386964121,1611327512,2277286791,2711722096,4446800638,7882943560.5
4,Mayo,15978692,14610889,14265621,20988947,30252979,39887132,60082271,65113469,90479860,...,434638392,608269518,770937471,1043528821,1288922134,1630360944,2456053054,2558796240,4285918498,8485148694
5,Junio,14676011,14328045,16351168,21041197,30687746,39160678,56268381,65906755,83292810,...,443506242,604987628,774531242,991656616,1291359719,1725684002,2334065968,2601499359,4477259473,8272230858
6,Julio,15299790,14675150,17106546,21763328,30962034,39205417,59484119,66270873,88028892,...,457074198,604665547,856524734,1105998076,1355228857,1734466058,2419755126,2800037597,4653112414,9777144943
7,Agosto,15802483,14475158,18373950,23185411,31937418,40688413,58732118,67496826,94763397,...,476677270,693626723,859765325,1127364425,1460045961,1884253360,2761171810,3271900805,4977782152,10673847335
8,Septiembre,15756538,16781292,18684199,25513569,31578993,43003892,63159166,70058014,91342609,...,517929584,673022303,831099102,1141604417,1518901732,2059133833,2874249708,3102345313,5349090672,10903034059
9,Octubre,15731005,13506128,18518490,25042384,33774686,41477902,63007199,72036143,90090534,...,485045463,766913451,897798301,1098256448,1483261492,2154164859,2863717767,3254208843,5368896164,11468663772
10,Noviembre,15660556,13446877,21317298,25520492,33742035,42190330,61376701,75454989,85291059,...,565675953,728167684,896822309,1175329181,1484020632,2203835394,2963817482,3590381705,5800018664,12420675590
11,Diciembre,16032799,11570299,19508401,25122948,34519525,45989899,55169335,66286135,88008564,...,581997338,771578791,928323895,1192269519,1668256848,2105064934,2857067481,3619140640,6548178069,12973069983

 ## **<font color="DeepPink">Discretizaci贸n</font>**

<p align="justify"> Los datos continuos a menudo se discretizan o se separan en "contenedores" para su an谩lisis. Supongamos que tenemos datos sobre un grupo de personas en un estudio comercial y deseamos agruparlos en grupos de edad discretos

In [ ]:
edad = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

<p align="justify">  Divid谩moslos en grupos de 18 a 25, de 26 a 35, de 36 a 60 y, finalmente, de 61 a帽os o m谩s. Para hacerlo, tenemos que usar <code>cut()</code>

In [ ]:
contenedores = [18, 25, 35, 60, 100]

In [ ]:
categorias = pd.cut(edad, contenedores)

In [ ]:
categorias

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

<p align="justify">  Cada contenedor se identifica mediante un tipo de valor de intervalo especial que contiene el l铆mite inferior y superior de cada contenedor

In [ ]:
pd.value_counts(categorias)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
dtype: int64

<br>
<br>
<p align="center"><b>

<font color="DeepPink">
Hemos llegado al final de nuestro colab de Pandas, a seguir codeando...
</font>
</p>

<p align="center">
<img src="https://github.com/cristiandarioortegayubro/BDS/blob/main/images/Logo%20BDS%20Horizontal%208.png?raw=true"/>
</p>

---